{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container">
            <div class="row" style="margin-top: 100px;">
                <div class="col-lg-5 order-lg-1">
                    <div class="card">
                        <div class="card-body"><img class="rounded-circle img-fluid" src="{{ asset('RFAsset/assets/img/profile-pic1.jpg')}}" width="100" height="100" align="left" style="margin-right: 30px;">
                            <h4 class="card-title"><strong>{{ app.user.getFullName }}</strong></h4>
                            <h6 class="text-muted card-subtitle mb-2">{{ app.user.getCity }}, {{ app.user.getCountry }}</h6>
                            <ul class="list-inline profile-status" style="font-size: 14px;margin-bottom: 0;">
                                <li class="list-inline-item">Likes</li>
                                <li class="list-inline-item">Views</li>
                                <li class="list-inline-item">Connections</li>
                            </ul>
                            <ul class="list-inline profile-status">
                                <li class="list-inline-item"><strong>99</strong></li>
                                <li class="list-inline-item"><strong>786</strong></li>
                                <li class="list-inline-item"><strong>35</strong></li>
                            </ul>
                            <hr>
                            <ul class="list-inline profile-features">
                                <li class="list-inline-item"><a href="#"><i class="icon-people" style="font-size: 32px;"></i><div><span>Requests<br></span><strong>59</strong></div></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon-like" style="font-size: 32px;"></i><div><span>Accepted<br></span><strong>34</strong></div></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon-trash" style="font-size: 32px;"></i><div><span>Refused<br></span><strong>59</strong></div></a></li>
                                <li class="list-inline-item"><a href="#"><i class="icon-bubbles" style="font-size: 32px;"></i><div><span>Matched<br></span><strong>454</strong></div></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 order-lg-2" id="personal-information">
                    <div class="card">
                        <form method="post" action="{{ '/edit-aboutme' }}">
                            <div class="card-body">
                                <p class="text-uppercase"><i class="icon-user mr-2"></i>About Me</p>

                                
                                <div class="form-group row"><label class="col-sm-3 col-form-label" for="selCity">City</label>
                                    <div class="col-sm-9">
                                        <select id="selCity" class="form-control" name="city">
                                            <optgroup label="City">
                                                <option value="" selected="">Select your city</option>
                                                <option value="Paris"{% if app.user.getCity == 'Paris' %} {{'Selected'}} {% endif %}>Paris</option>
                                                <option value="France"{% if app.user.getCity == 'France' %} {{'Selected'}} {% endif %}>France</option>
                                                <option value="Dhaka"{% if app.user.getCity == 'Dhaka' %} {{'Selected'}} {% endif %}>Dhaka</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row"><label class="col-sm-3 col-form-label" for="selCountry">Country</label>
                                    <div class="col-sm-9">
                                        <select id="selCountry" class="form-control" name="country">
                                            <optgroup label="Country">
                                                <option value="" selected="">Select your country</option>
                                                <option value="France" {% if app.user.getCountry == 'France' %} {{'Selected'}} {% endif %} >France</option>
                                                <option value="United Kingdom"{% if app.user.getCountry == 'United Kingdom' %} {{'Selected'}} {% endif %}>United Kingdom</option>
                                                <option value="Bangladesh"{% if app.user.getCountry == 'Bangladesh' %} {{'Selected'}} {% endif %}>Bangladesh</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row"><label class="col-sm-3 col-form-label" for="txtZipCode">ZIP Code</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="txtZipCode" class="from-control" name="zip_code" value="{{ app.user.getZipCode }}">
                                        <input type="hidden" class="from-control" name="id" value="{{ app.user.getId }}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-sm-3 col-form-label" for="txtMobile">Mobile No.</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="txtMobileNo" class="from-control" name="mobile_number" value="{{ app.user.getMobileNumber }}">
                                    </div>
                                </div>
                                <div class="form-group row"><label class="col-sm-3 col-form-label" for="txtDOB">Date of Birth</label>
                                    <div class="col-sm-9"><input id="txtDOB" class="from-control" type="date" name="birth_date" value="{{ app.user.getBirthDate }}"></div>
                                </div>
                                <button class="btn btn-primary btn-lg text-uppercase border rounded gradient-color float-right mt-2" type="submit">
                                    <span class="mr-3">Proceed</span>
                                    <i class="icon-arrow-right-circle"></i>
                                </button>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}